.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.nav-items > ul > li {
  list-style-type: none;
  padding: 10px;
  margin: 10px;
}
.nav-items > ul {
  display: flex;
  font-size: 24px;
}
.logo {
  width: 160px;
}
.search {
  padding: 20px;
}
.resimg {
  width: 160px;
  padding: 10px;
}
.rescart {
  width: 250px;
  height: 500px;
  margin: 10px;
  background-color: #f0f0f0;
  font-size: 12px;
}
.rescart:hover {
  border: 1px solid black;
  cursor: pointer;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
}
.resimg {
  width: 80%;
  height: 12rem;
}
.top-res:hover {
  cursor: pointer;
}
.btn {
  margin: 10px;
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card {
  width: 250px;
  height: 500px;
  margin: 10px;
  background-color: #f0f0f0;
}
