/* .header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.nav-items > ul > li {
  list-style-type: none;
  padding: 10px;
  margin: 10px;
}
.links {
  list-style: none;
  display: flex;
  gap: 20px;
  color: black;
  margin: 20px;
}
.nav-link {
  text-decoration: none;
  color: black;
}

.nav-items > ul {
  display: flex;
  font-size: 24px;
  margin-right: 20px;
}
.logo {
  width: 160px;
}
.search {
  padding: 20px;
}
.resimg {
  width: 160px;
  padding: 10px;
}
.rescart {
  width: 250px;
  height: 500px;
  margin: 10px;
  background-color: #f0f0f0;
  font-size: 12px;
}
.rescart:hover {
  border: 1px solid black;
  cursor: pointer;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
}
.resimg {
  width: 80%;
  height: 12rem;
}
.top-res:hover {
  cursor: pointer;
}
.top-res {
  border: 2px solid black;
  border-radius: 10px;
  font-weight: 600;
  padding: 0px 10px;
}
.btn {
  margin: 10px;
  display: flex;
}







.login {
  padding: 0px 30px;
  border-radius: 10px;
}

.search-box {
  border: 2px solid black;
  width: 100%;
}
button {
  border: 2px solid black;
}
.user-card {
  padding: 10px;
  border: 1px solid black;
}
.user-card-class {
  padding: 10px;
  border: 1px solid black;
  margin-top: 10px;
}
img {
  height: 10rem;
} */

.shimmer-container {
  display: flex;
}
.shimmer-card {
  width: 100px;
  height: 200px;
  margin: 10px;
  background-color: #e7e9eb;
}
